* {
  box-sizing: border-box;
}

body {
  background-color: #f0f2f5;
  margin: auto;
  max-width: 960px;
  font-family: Arial, sans-serif;
}

.article-card {
  margin: 32px auto;
  border-radius: 4px;
  width: 300px;
  box-shadow: 0px 2px 0 0 rgba(1, 1, 1, 0.06);
  background-color: #ffffff;
}

.article-card__content {
  padding: 24px;
}

.article-card__image {
  width: 100%;
  height: 170px;
}

.article-card__title {
  font-size: 18px;
  color: #434a54;
}

.article-card__describtion {
  font-size: 13px;
  line-height: 1.54;
  color: #aab2bd;
  margin: 0 0 0 0;
  margin-bottom: 24px;
}

.article-card__snippets {
  font-size: 13px;
  line-height: 1.54;
  color: #aab2bd;
  margin: 0 0 0 0;
  display: inline-block;
  line-height: 16px;
  margin-right: 16px;
}

.article-card__snippets::before {
  display: inline-block;
  content: " ";
  width: 16px;
  height: 16px;
  margin-right: 4px;
  vertical-align: top;
}

.article-card__snippets--time::before {
  background-image: url("img/icon_clock.svg");
}

.article-card__snippets--comment::before {
  background-image: url("img/icon_message.svg");
}
