body {
  width: 960px;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

p {
  line-height: 20px;
  font-size: 16px;
  margin: 0 0 0 0;
}

.alert {
  width: 640px;
  padding: 10px;
  margin: 32px auto;
  border-radius: 4px;
}

.alert--inform {
  border: #2703fb 1px solid;
  color: #2703fb;
  background-color: #a3d9e8;
}

.alert--warning {
  border: #fd5d2e 1px solid;
  color: #fd5d2e;
  background-color: #fefbca;
}

.alert--error {
  border: #fa0106 1px solid;
  color: #fa0106;
  background-color: #ffcbbc;
}
