body {
  margin: auto;
  max-width: 960px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  padding: 48px;
  background-color: orange;
  margin-block-end: 24px;
}

header > h1 {
  text-align: center;
}

nav {
  width: 640px;
  margin: auto;
}

nav > ul > li {
  float: left;
  list-style-type: none;
  margin: 0 24px;
}

a {
  color: black;
  text-decoration: none;
}

article {
  padding: 24px;
  margin: ;
  background-color: yellow;
  margin-block-end: 24px;
}

main {
  max-width: 620px;
  float: left;
}

aside {
  padding: 24px 24px 144px 24px;
  width: 260px;
  float: right;
  background-color: aquamarine;
}

footer {
  padding: 16px;
  background-color: gray;
  clear: left;
}
