* {
  box-sizing: border-box;
}

body {
  background-color: #aab2bd;
  width: 320px;
  margin: 48px auto;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  height: 64px;
  padding: 8px;
}

a {
  text-decoration: none;
}

.logo {
  vertical-align: top;
}

.logo__title {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: normal;
  text-align: left;
  color: #8cc152;
  margin-left: 8px;
  vertical-align: middle;
}

.page {
  display: flex;
  margin-top: 48px;
}

.navigation {
  box-shadow: inset 0px 1px 0 0 rgba(236, 236, 236, 0.5);
  background-color: #ffffff;
  list-style: none;
  padding: 0 0 0 0;
  margin: 0;
}

.navigation__link {
  display: block;
  opacity: 0.8;
  font-family: Roboto;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #000000cc;
  padding: 16px 0 16px 64px;
}

.navigation__sub {
  list-style: none;
  margin-left: -16px;
}

.button__close {
  display: inline-block;
  height: 48px;
  width: 48px;
}

.navigation__link--search {
  display: block;
  opacity: 0.8;
  font-family: Roboto;
  font-size: 18px;
  text-align: left;
  color: #000000cc;
  padding: 16px 0 16px 64px;
}

.navigation__link--search::before {
  content: "";
  display: inline-block;
  background-image: url("img/search.png");
  height: 24px;
  width: 24px;
  margin: 0px 16px 0 -40px;
  vertical-align: bottom;
}

.navigation__link--cart {
  display: block;
  font-family: Roboto;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
  padding: 16px 0 16px 64px;
  background-color: #a0d468;
}

.navigation__link--cart::before {
  content: "";
  display: inline-block;
  background-image: url("img/cart.png");
  height: 24px;
  width: 24px;
  margin: 0px 16px 0 -40px;
  vertical-align: bottom;
}

.page__product {
  max-width: 144px;
  border-radius: 4px;
  box-shadow: 0px 2px 0 0 rgba(1, 1, 1, 0.06);
  background-color: #ffffff;
  margin: 8px;
}

.product__title {
  opacity: 0.85;
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #010101d9;
}

.product__description {
  font-family: Roboto;
  font-size: 14px;
  text-align: left;
  color: #666769;
}

.product__description ul {
  list-style: none;
  margin: 0;
}

.product__price {
  font-family: Roboto;
  font-size: 24px;
  text-align: center;
  color: #a0d468;
}

.product__add-to-cart {
  background-color: #aab2bd;
  padding: 8px;
  font-family: Roboto;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  width: 100%;
}

.navigation__cart {
  background-color: #a0d468;
}

.navigation__search {
}

.main__profile {
  box-shadow: 0px 2px 0 0 #0101010f;
  background-color: #ffffff;
  margin: 24px 8px 0 8px;
}
