* {
  box-sizing: border-box;
}

body {
  margin: auto;
  width: 960px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  padding: 16px 24px;
  background-color: orange;
  margin-bottom: 24px;
  vertical-align: center;
}

.logo {
  float: left;
  width: 48px;
  padding: 48px;
  border-radius: 100%;
  background-color: yellow;
}

header > h1 {
  float: left;
  width: 72px;
  margin: 12px 0 0 24px;
  vertical-align: top;
}

nav {
  margin-top: 40px;
  padding-bottom: 56px;
}

nav > ul > li {
  float: right;
  list-style-type: none;
  margin: 0 12px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: white;
}

main {
  max-width: 616px;
  float: left;
}

article {
  padding: 24px;
  margin-bottom: 16px;
  background-color: yellow;
}

.image {
  background-color: blue;
  padding: 48px;
  width: 48px;
  float: left;
  margin-right: 16px;
}

article > a {
  color: blue;
}

article > p {
  margin-left: 112px;
}

h2 {
  display: inline;
  vertical-align: middle;
}

aside {
  padding: 24px 24px 144px 24px;
  width: 320px;
  float: right;
  background-color: aquamarine;
}

footer {
  padding: 16px;
  background-color: gray;
  clear: left;
}
